.col-xs-12.col-md-6
	.panel.panel-default
		.panel-heading
			h3  <% cultivos.at(0).nombre %>
		.paneat(0).l-body
			.row
				.col-xs-12.col-md-8
					h1 
				.col-xs-12.col-md-4
					h1  
					p Núm. de plantas
			
			button.btn.btn-default Ver anotaciones

.col-xs-12.col-md-6
	.panel.panel-default
		.panel-heading
			h3 Configurar plan de cultivo
		.panel-body
			form(method="POST")
				.form-group
					label(for="nombrePCultivo") Nombre para el plan de cultivo
					input#nombrePCultivo.form-control(type="text")
				.form-group
					label(for="origenPCultivo") Indica si utilizas semilla o esqueje
					input#origenPCultivo.form-control(type="text")
				.form-group
					label(for="fechaInicioPCultivo") Indica la fecha de inicio del cultivo
					input#fechaInicioPCultivo.form-control(type="date")
				.form-group
					label(for="fechaTrasplantePCultivo") Indica la fecha de trasplante a contenedor definitivo
					input#fechaTrasplantePCultivo.form-control(type="date")
				.form-group
					label(for="fechaFloracionPCultivo") Indica la fecha de inicio de la floración
					input#fechaFloracionPCultivo.form-control(type="date")
				.form-group
					label(for="fechaFinFloracionPCultivo") Indica la fecha de fin de la floración
					input#fechaFinFloracionPCultivo.form-control(type="date")
				.form-group
					label(for="ferCrecimientoPCultivo") Qué fertilizante de crecimiento usas
					input#ferCrecimientoPCultivo.form-control(type="text")
				.form-group
					label(for="ferFloracionPCultivo") Qué fertilizante de floración usas
					input#ferFloracionPCultivo.form-control(type="text")
				.form-group
					label(for="rebCogollosPCultivo") Qué rebienta-cogollos usas
					input#rebCogollosPCultivo.form-control(type="text")
				.form-group
					label(for="planificarProductoPCultivo") Añadir un nuevo producto a la planificación
					button.btn.btn-success.form-control(type="button" data-toggle="modal" data-target="#modalPlanificarProducto") Planificar nuevo producto
				.form-group
					button.btn.btn-primary Actualizar datos


			form(method="POST")
				

				li Objetivos
				li Capitulo guía

.col-xs-12
	.panel.panel-default
		.panel-heading
			h3 Plan de cu
		.panel-body
			.row
				.col-xs-12
					include planCultivo.jade
		.panel-footer
			p footer
