extends layout

block alertas
	include ./componentes/alertas.jade

block planCultivo
	include ./componentes/planCultivo.jade

block graficoResumen
	include ./componentes/graficoResumen.jade

block nuevoCultivoForm
	include ./componentes/nuevoCultivo.jade

block cultivoActivo
	include ./componentes/cultivoActivo.jade