doctype html
html(lang="en")
	head
		title Crazy Grow
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/_owl-carousel.css')
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			.col-xs-12
					include ./includes/menu.jade
		main
			#alertas 
				block alertas
			
			#resumenUsuario
				block planCultivo
				block graficoResumen

			hr

			#nuevoCultivo
				block nuevoCultivoForm

			#cultivoActivo
				block cultivoActivo 

		footer

		block modals
			
		script(src='/javascripts/vendor/jQuery-2.1.4.js')
		script(src='/javascripts/vendor/underscore-1.8.3.js')
		script(src='/javascripts/vendor/backbone-1.2.3.js')
		script(src="/javascripts/vendor/bootstrap.min.js")
		script(src="/javascripts/vendor/owl.carousel.min.js")
		script(src="/javascripts/vendor/chart.min.js")
		script(src="/javascripts/app.js")

		script(src="/javascripts/models/cultivo.js")
		script(src="/javascripts/models/planCultivo.js")
		script(src="/javascripts/models/producto.js")